<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="AIC_Config_Entities" connectionString="metadata=res://*/Model.AIC_Config.csdl|res://*/Model.AIC_Config.ssdl|res://*/Model.AIC_Config.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=STFBSBBD02\STEFANINI_BSB;initial catalog=AIC_Config;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>