<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="AIC_Config_Entities" connectionString="metadata=res://*/Model.AIC_Config.csdl|res://*/Model.AIC_Config.ssdl|res://*/Model.AIC_Config.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=STFBSBBD02\STEFANINI_BSB;initial catalog=AIC_Config;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AIC_Config" connectionString="metadata=res://*/Model.AICConfig.csdl|res://*/Model.AICConfig.ssdl|res://*/Model.AICConfig.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=STFBSBBD02\STEFANINI_BSB;initial catalog=AIC_Config;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>